.sidebar h1{
  text-align: center;
}
body{
  background-color: grey;
  height: 100%;
  width: 100%;
  float: right;
}
.sidebar{
  position: fixed;
  float: left;
  background-color: white;
  width: 30%;
  height: 100%;
  border-radius: ;
}
.bio{
  padding: 10px;
  text-align: center;
}
.bio h3{
  text-decoration: underline;
}
.profile{
  width: 80%;
  border-radius: 5%;
  margin: 0 10%;
}
.posts {
  color: white;
  z-index: 9999;
  text-align: center; 
  float: right;
  right: 25px;
}
footer{
  font-size: 14px;
  color: white;
  text-align: center;
  clear: both;
  bottom: 5px;
  float: right;
}

